# Core
numpy
pandas
openpyxl

# Visualization
matplotlib
seaborn
plotly

# Machine Learning
scikit-learn
xgboost
statsmodels

# To import pickle file
dill

# Deep Learning
tensorflow

# Jupyter / Dev
jupyter
ipykernel